@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@300;400;700;900&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@300;400;700;900&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@300;400;700;900&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Archivo:wght@300;400;700;900&family=Passion+One:wght@400;700;900&display=swap");

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Archivo", sans-serif;
}

.form-head
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.form-head label
{
    margin: 10px;
}

form 
{
    font-family: "Archivo", sans-serif;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
    min-width: 50%;
}

form textarea
{
    width: 100%;
    margin-bottom: 30px;
}

form input
{
    min-width: 30%;
}

table
{
    margin: 30px;
    padding: 0px;
    border-collapse: collapse; 
}

#tableHead
{
    background-color: rgb(63, 108, 231);
    color: white;
}

td
{
    border: 1px solid rgb(133, 133, 133);
    margin: 0px;
    padding: 5px;
}

td *
{
    margin: 3px;
}

tr
{
    padding: 0px;
    margin: 0px;
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Cor de fundo mais clara para linhas ímpares */
}

tr:nth-child(even) {
    background-color: #e6e6e6; /* Cor de fundo mais escura para linhas pares */
}

.update-button
{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(240, 240, 44);
}

.delete-button
{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(233, 75, 75);
}

#article-tableLoadMedic
{
    width: 50%;
    height: 500px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}