$color1: firebrick;
$header-bgc: white;
$footer-bgc: #439dd788;
$font-color: black;
$font-color2: white;
$font-color3: #439dd7;
$font-color4: #003d72;
$border-color: black;
$border-color2: white;
$menu-bar-color: black;
$menu-bgc: white;
$icon-bgc: #439dd7dd;
$aboutUs-bgc: #439dd7;
$information-font-color: #003d72;
$about-project-header-font-color: white;
$search-result-bgc: #439dd7;
$search-result-hover-color: #003d72aa;
$security-p-border-color: #003d72;
