$font-color: black;
$font-color2: white;
$font-color3: #439dd7;
$font-color4: #003d72;
$border-color: black;
$menu-bar-color: black;
$header-bgc: white;
$menu-bgc: white;
$border-color2: white;
$about-project-header-font-color: white;
$card-person-bgc: #ffffff77;
$information-font-color: #003d72;
$security-p-border-color: #003d72;
$article-border: #003d72;
$search-result-hover-color: #003d72aa;
$border-color3: #439dd7;
$aboutUs-bgc: #439dd7;
$search-result-bgc: #439dd7;
$icon-bgc: #439dd7dd;
$icon-bgc2: #f4f4ec;
$about-section-bgc: #439dd778;
$footer-bgc: #439dd788;
