@use "colors" as c;
@use "fonts" as f;
@use "mixins" as m;

main {
  .header {
    padding: 100px 0;
    font-size: 4rem;
    font-family: f.$archivo;
    color: c.$font_color2;
    letter-spacing: 5px;
    text-align: center;
    background-image: url(../img/pediatria_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      font-weight: 300;
    }
  }

  .importance {
    @include m.elements_grid(2);
    padding: 40px;
    font-family: f.$archivo;
    h2 {
      width: 90%;
      margin-bottom: 30px;
      font-size: 3rem;
      font-weight: 300;
      color: c.$font-color4;
    }
    p {
      width: 60%;
      font-size: 1.2rem;
    }
    div:nth-of-type(2) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .carousel-container {
    padding: 30px 80px;
    font-family: f.$archivo;
    color: c.$font-color4;
    text-align: center;
    background-color: c.$carousel_drugs;
    h3 {
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 10px;
    }
    p {
      width: 80%;
      margin: 0 auto;
      font-size: 1.3rem;
    }
    .container {
      position: relative;
      padding: 40px 40px 0;
      span {
        position: absolute;
        z-index: 999;
        padding: 5px;
        font-size: 1.8rem;
        color: c.$font-color2;
        background-color: c.$carousel-btn-bgc;
        border-radius: 50%;
        translate: 0 -50%;
        cursor: pointer;
        &:nth-of-type(1) {
          top: 50%;
          left: -10px;
        }
        &:nth-of-type(2) {
          top: 50%;
          right: -10px;
        }
      }
    }
    .carousel {
      display: flex;
      gap: 5%;
      width: 100%;
      overflow-x: hidden;
      scroll-behavior: smooth;
      figure {
        flex: 0 0 auto;
        background-color: c.$carousel-item-bgc;
        width: 30%;
        min-height: 60%;
        padding: 15px;
        img {
          width: 90%;
          height: 80%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
