@use "colors" as c;
@use "fonts" as f;
@use "menu";
@use "search_result";

header {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  height: 13vh;
  width: 100%;
  background-color: c.$header-bgc;
  font-family: f.$archivo;
  a {
    font-size: 1.2rem;
    position: relative;
    color: c.$font-color;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: c.$font-color;
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  .logo {
    width: 15%;
  }
  .logo img {
    width: 100%;
  }
  nav {
    display: flex;
    gap: 20px;
    margin: auto 0;
  }
  .search {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    margin: auto 0;
    input {
      padding: 0 10px 0 35px;
      border: 2px solid c.$font-color;
      border-radius: 50px;
      font-size: 1.5rem;
    }
    span {
      position: absolute;
      left: 10px;
    }
  }
  .login {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto 0;
    a {
      margin: auto 0;
    }
  }
}
