@use "colors" as c;
@use "fonts" as f;
@use "mixins" as m;

#initial {
  background-color: c.$aboutUs-bgc;
  text-align: center;
  img {
    width: 25vw;
  }
}

.standard_style {
  padding: 3% 5%;
  h2 {
    font-family: f.$archivo;
    font-weight: 700;
    color: c.$font-color4;
    margin-bottom: 3%;
  }
  .text-sobre {
    display: grid;
    grid-template-columns: 4fr 7fr;
    p {
      width: 27ch;
      font-size: 95%;
      font-family: f.$archivo;
    }
  }
  .icons {
    @include m.elements_grid(3);
    column-gap: 40px;
    margin-top: 30px;
    text-align: center;
    figure {
      width: 70%;
      height: 200px;
      margin: 0 auto 20px;
      padding: 20px;
      background-color: c.$icon-bgc3;
      border-radius: 50%;
    }
    img {
      height: 90%;
    }
    p {
      font-family: f.$archivo;
      font-weight: bold;
    }
  }
}

.team {
  display: grid;
  grid-template-columns: 5fr 5fr;
  padding: 40px 0 40px 40px;
  background-color: c.$about-section-bgc;
  .information {
    h2 {
      font-size: 3rem;
      font-family: f.$archivo;
      font-weight: bold;
      color: c.$font-color4;
    }
    p {
      width: 50%;
      margin-top: 50px;
      font-size: 1.1rem;
      font-family: f.$archivo;
    }
  }
  .slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
    font-family: f.$archivo;
    .person {
      flex: 0 0 auto;
      scroll-snap-align: start;
      width: 400px;
      height: 100%;
      margin: 0 15px;
      padding: 20px;
      background-color: c.$card-person-bgc;
      text-align: center;
      img {
        width: 50%;
        border-radius: 50%;
      }
      .role {
        margin: 10px 0;
        font-weight: bold;
      }
    }
  }
}

.quote {
  padding: 40px 20px;
  background-color: c.$about-section-bgc;
  font-family: f.$archivo;
  color: c.$font-color4;
  p:nth-of-type(1) {
    font-weight: 300;
    font-size: 1.9rem;
    &::before {
      content: '"';
      font-family: f.$passion;
      font-size: 3rem;
    }
    &::after {
      content: '"';
      font-family: f.$passion;
      font-size: 3rem;
    }
  }
  p:nth-of-type(2) {
    font-size: 2rem;
    font-style: italic;
    text-align: right;
    text-decoration: underline;
  }
}

@import "./responsive/about_us/responsive_sobre.scss";
