@use "reset";
@use "colors" as c;
@use "symbol";
@use "header";
@use "footer";

html {
  body {
    font-size: medium;
    main {
      margin-top: 13vh;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
